<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <h1>Quotes</h1>
    <% for (quote in quotes) { %>
        <h5><%= quotes[quote].quote %></h5>
    <% } %>
    <a href="/">back</a>
</body>
</html>